
    <div class="lista-canciones">
      <form class="form-cancion">
        <input type="text" name="nombre" placeholder="Nombre Cancion">
        <input type="text" name="artista" placeholder="Artista">
        <button class="form-cancion__btn">Agregar</button>
      </form>
      <ul>
        <% _.each(lista, function (cancion){ %>
          <li><%= cancion.nombre %> - <%= cancion.artista %> <i data-id="<%= cancion._id %>" class="fas fa-heart"></i></li>
        <% }) %>
      </ul>
    </div>